
<div class="login-page">
    <div class="content">
        <div class="login-form" fxFlex  >
                <div class="text-center">
                        <h2 class="app-name">STIM Abidjan</h2>
                </div>
            <mat-card>
                <mat-card-content>
                    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                            <div fxFlex>
                                <app-stat [bgClass]="'success'" [icon]="'work'" [count]="" [label]="'Administration'" routerLink="/dashboard">
                                </app-stat>
                            </div> 
                            <div fxFlex>
                                <app-stat [bgClass]="'success'" [icon]="'monetization_on'" [count]="" [label]="'Comptabilité '"></app-stat>
                            </div>
                            <div fxFlex>
                                <app-stat [bgClass]="'success'" [icon]="'departure_board'" [count]="" [label]="'Logistique'" routerLink="/logistic"></app-stat>
                            </div>
                            <div fxFlex>
                                <app-stat [bgClass]="'success'" [icon]="'airport_shuttle'" [count]="" [label]="'Camion'"></app-stat>
                            </div>
                        </div>
                    </mat-card-content>
            </mat-card>
            
            <!-- <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div> -->
            <!-- <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div> -->
            <!-- <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div> -->
            <!-- <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onLogin()">Login</button>
                </div>
            </div> -->

        </div>
    </div>
</div>